
.actions_column {
    margin: 1rem 0;
    border: none;
    display: flex;
  gap: 1rem;
}

.truncate-text {
  max-width: 200px;
  white-space: nowrap;      /* Prevent text from wrapping to the next line */
  overflow: hidden;         /* Hide overflowing text */
  text-overflow: ellipsis;  /* Display an ellipsis (...) when text overflows */
  /* Optionally, you can set a specific width for the container to limit the text length */
  /* width: 200px; */
}

::ng-deep .mdc-snackbar__surface {
  background: transparent !important;
}

::ng-deep .mat-mdc-snack-bar-label {
  color: black !important
}

::ng-deep .mat-mdc-snack-bar-container .mdc-button__label {
  color: black !important
}


::ng-deep .mat-mdc-snack-bar-container.custom-snackbar-edit {
  background-color: #ffd740 !important;
  color: black !important;
}

::ng-deep .mat-mdc-snack-bar-container.custom-snackbar-delete {
  background-color: #f44336 !important;
  color: black !important;
}
