

<div *ngIf="employeeMaster$ | async as em">

<mat-card>
  <mat-card-content>

    <div class="md:flex md:items-center md:justify-between">
    <div [formGroup]="employeeListForm" class="my-4">
      <div class="flex items-center gap-2 border-b-2 max-w-sm">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
      <input placeholder="Search ..." type="text" formControlName="searchQuery" class="w-full focus:ring-white ring-transparent ring-offset-transparent ring-white" style="border: none; outline: none">
      </div>
    </div>

    <a href="#" routerLink="/employees/create">
      <button mat-raised-button color="primary">Add Employee</button></a>
    </div>
    <div class="relative overflow-x-auto">

    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>LastName</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>BirthDate</th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate | date: 'longDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="basicSalary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Basic Salary</th>
        <td mat-cell *matCellDef="let element"> {{element.basicSalary | rupiah}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Group</th>
        <td mat-cell *matCellDef="let element"> {{element.group}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td class="truncate-text" mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="actions_column" mat-cell *matCellDef="let element">
          <button (click)="onGoEmployeeDetail(element.id)" type="button" class="max-w-xs" mat-raised-button color="primary">Detail</button>
          <button (click)="onEditEmployee(element)" type="button" class="max-w-xs" mat-raised-button color="accent">Edit</button>
          <button (click)="onDeleteEmployee(element)" type="button" class="max-w-xs" mat-raised-button color="warn">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>
    </div>

    <mat-paginator [pageSize]="em.pageSize" [pageIndex]="em.page" [length]="em.collectionSize" [pageSizeOptions]="generatePageSizeOptions(em.pageSize, em.collectionSize)"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements"
                   (page)="handlePageChange($event)"
    >
    </mat-paginator>
  </mat-card-content>
</mat-card>
</div>




