



<div class="sm:max-w-lg md:max-w-full">

  <mat-card *ngIf="employee$ | async as employee">
    <mat-card-content>
  <h3><span class="font-semibold">Employee</span> : {{employee.username}}</h3>
      <section class="md:flex md:flex-col md:gap-2 md:max-w-lg">
        <div class="grid gap-2 md:grid-cols-2">
          <label class="font-semibold">Username</label>
          <span>{{employee.username}}</span>
        </div>
        <div class="grid gap-2 md:grid-cols-2">
          <label class="font-semibold">Firstname</label>
          <span>{{employee.firstName}}</span>
        </div>

        <div class="grid gap-2 md:grid-cols-2">
          <label class="font-semibold">Lastname</label>
          <span>{{employee.lastName}}</span>
        </div>

        <div class="grid gap-2 md:grid-cols-2">
          <label class="font-semibold">Email</label>
          <span>{{employee.email}}</span>
        </div>

        <div class="grid gap-2 md:grid-cols-2">
          <label class="font-semibold">Birthdate</label>
          <span>{{employee.birthDate}}</span>
        </div>

        <div class="grid gap-2 md:grid-cols-2">
          <label class="font-semibold">Basic salary</label>
          <span>{{employee.basicSalary | rupiah}}</span>
        </div>

        <div class="grid gap-2 md:grid-cols-2">
          <label class="font-semibold">Status</label>
          <span>{{employee.status}}</span>
        </div>

        <div class="grid gap-2 md:grid-cols-2">
          <label class="font-semibold">Group</label>
          <span>{{employee.group}}</span>
        </div>

        <div class="grid gap-2 md:grid-cols-2">
          <label class="font-semibold">Description</label>
          <span>{{employee.description}}</span>
        </div>
      </section>

      <button (click)="onGoEmployeeList()" type="button" class="max-w-xs" mat-raised-button color="primary">OK</button>
    </mat-card-content>
  </mat-card>
</div>
