<mat-card>
  <mat-card-content>

    <form class="" [formGroup]="employeeCreateForm" (ngSubmit)="onSubmit()">

      <section class="grid md:grid-cols-2 gap-4">

        <!-- username field -->
        <mat-form-field class="max-w-xs">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>

        <!-- firstname field -->
        <mat-form-field class="max-w-xs">
          <mat-label>Firstname</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>

        <!-- lastname field -->
        <mat-form-field class="max-w-xs">
          <mat-label>Lastname</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>

        <!-- email field -->
        <mat-form-field class="max-w-xs">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>

        <!-- birthdate field -->
        <mat-form-field class="max-w-xs">
          <mat-label>Birthdate</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" formControlName="birthDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>

        <!-- basic salary field -->
        <mat-form-field class="max-w-xs">
          <mat-label>Basic Salary</mat-label>
          <input matInput [type]="'number'" formControlName="basicSalary">
        </mat-form-field>

        <!-- status field -->
        <mat-form-field class="max-w-xs">
          <mat-label>Status</mat-label>
          <input matInput formControlName="status">
        </mat-form-field>


        <mat-form-field class="max-w-xs">
          <mat-label>Group</mat-label>
          <mat-select formControlName="group">
            <div class="flex items-center gap-2 border-b-2 max-w-sm px-4">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
              <input id="test" placeholder="Search ..." type="text" formControlName="searchQueryGroup" class="w-full focus:ring-white ring-transparent ring-offset-transparent ring-white" style="border: none; outline: none">
            </div>
            <mat-option *ngFor="let group of (employeeGroups$ | async)" [value]="group">
              {{group}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="max-w-xs">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="" formControlName="description"></textarea>
        </mat-form-field>
      </section>

      <div class="flex gap-2">
        <button [disabled]="employeeCreateForm.invalid" type="submit" class="max-w-xs" mat-raised-button color="primary">Save</button>
<!--        <button type="submit" class="max-w-xs" mat-raised-button color="primary">Save</button>-->
        <button (click)="onGoBack()" type="button" class="max-w-xs" mat-raised-button color="warn">Cancel</button>
      </div>


    </form>
  </mat-card-content>
</mat-card>
