
<div class="flex justify-center">

<mat-card class="w-full md:max-w-sm">
  <mat-card-content>
    <div class="flex flex-col justify-center items-center">
      <h2 class="">Welback back!</h2>
      <p class="">Login to continue</p>
    </div>

    <form class="w-full" [formGroup]="authLoginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input formControlName="email" class="w-full" matInput placeholder="example@email.com" value="example@email.com">
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input formControlName="password" class="" type="password" matInput value="examplepassword">
      </mat-form-field>

      <button class="w-full" type="submit" mat-raised-button color="primary">Login</button>
    </form>

  </mat-card-content>
</mat-card>
</div>
